<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/pageoffice.js" id="po_js_main"></script>
    <script>
        window.onload = function () {
            POBrowser.openWindowModeless('/pageOffice/handler/v1/load?fileId=' + $("#fileId").val()
                + '&businessDataId=' + $("#businessDataId").val() + '&authorityType='
                + $("#authorityType").val() + '&businessCode=' + $("#businessCode").val(),
                'width=' + $("#windowHeight").val() + ';;height=' + $("#windowWidth").val() + ';');
        }
    </script>
</head>
<body>
<input id="fileId" th:value="${fileId}" type="hidden"/>
<input id="businessDataId" th:value="${businessDataId}" type="hidden"/>
<input id="authorityType" th:value="${authorityType}" type="hidden"/>
<input id="windowHeight" th:value="${windowHeight}" type="hidden"/>
<input id="windowWidth" th:value="${windowWidth}" type="hidden"/>
<input id="businessCode" th:value="${businessCode}" type="hidden"/>
</body>
</html>

